.travel-list{
    display: flex;
    position: relative;
}
.location-detail{
    width: 21%;
    transition: .4s;
}
.travel-list-container{
    height: 350px;
    position: relative;
    .travel-list-image{
        img{
            width: 100%;
            height: 350px;
        }
    }
}
.travel-list-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    // background: linear-gradient(to right, #11998e, #38ef7d);
    opacity: .7;
    z-index: 1;
    .travel-list-description{
        color: #fff;
        padding: 20px;
        font-size: 20px;
        h1{
            color: #fff;
        }
    }
    .travel-list-weather{
        flex: 1;
    }
}
.travel-list-detail{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 150px;
    cursor: pointer;
    transition: .4s;
    &:hover{
        color: #b31217;
        border: 1px solid #b31217;
    }
}

.another-temp{
    display:flex;
    justify-content: space-between;
    color:#fff;
}
.another-temp-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1, h4{
        color:#fff;
    }
    .svg-inline--fa{
        font-size: 30px;
    }
}
.anotther-main-temp{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}
.main-temp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-temp{
    width:40%;
    display: flex;
    align-items: center;
    h3{
        font-size:30px;
        color:#fff
    }
    .icon-temp-image{
        width:100px;
        height:100px;
        img{
            width: 100%;
        }
    }
}
.location-temp{
    flex:1;
    display:flex;
    justify-content: flex-end;
    span{
        display: flex;
        color: #fff;
        font-size: 30px;
        h1{
            color: #fff;
            margin: 0;
        }
    }
}
.location-list-container{
    flex:1;
    display: flex;
    flex-direction: column;
}
.travel-weather-container{
    position: absolute;
    width: 50%;
}
.travel-list-weather{
    padding: 40px;
    margin-bottom: 17px;
}
