.side-bar-container{
    .side-bar-item{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 20px;
        transform:all .4s linear;
        span{
            svg{
                font-size: 35px;
                color: #fff;
                opacity: .5;
            }
        }
        &:hover{
            background: rgba(0,0,0, .5);
            span{
                svg{
                    color: #2bb673;
                    opacity: .8;
                }
            }
        }
    }
}
.active-route{
    color: #2bb673;
    display: block;
    #fa-map{
        color:#2bb673
    }
}